.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #94a3b8;
}
