.navbar {
  position: sticky;
  top: 0;
  background: #020617;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  font-weight: 500;
}
